<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 자주묻는질문</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_faqGroup"></th:block>
                <div>
                    <div class="title">
                        <p><span>Q.</span> [[${vo.title}]]</p>
                    </div>
                    <div class="content">
                        <p>
                            [[${vo.content}]]
                        </p>
                    </div>
                    <a th:href="@{/cs/faq/list(group=${group})}" class="goList">목록보기</a>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>