<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 공지사항</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_noticeGroup"></th:block>
                <div>
                    <div class="title">
                        <p>[[${vo.title}]]</p>
                        <span>[[${vo.rdate}]]</span>
                    </div>
                    <div class="content">
	                    <p>
	                        [[${vo.content}]]
	                    </p>
                    </div>
                    <a th:href="@{/cs/notice/list(group=${group}, pg=${pg})}" class="goList">목록보기</a>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>