<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 문의하기</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_qnaCate"></th:block>
                <div>
                    <form action="#">
                        <table class="qna_write">
                            <tr>
                                <td>문의유형</td>
                                <td>
                                    <select name="group" id="csType">
                                        <option value="0">그룹선택</option>
                                        <option value="1">가입</option>
                                        <option value="2">탈퇴</option>
                                        <option value="3">회원정보</option>
                                        <option value="4">로그인</option>
                                    </select>
                                    <select name="cate" id="csType">
                                        <option value="0">카테고리선택</option>
                                        <option value="1">가입</option>
                                        <option value="2">탈퇴</option>
                                        <option value="3">회원정보</option>
                                        <option value="4">로그인</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>문의제목</td>
                                <td>
                                    <input type="text" name="title" placeholder="제목을 입력하세요.">
                                </td>
                            </tr>
                            <tr>
                                <td>문의내용</td>
                                <td>
                                    <textarea name="content" id="content" placeholder="내용을 입력하세요."></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <a th:href="@{/cs/qna/list(group=all)}" class="goList">목록보기</a>
                    <input type="submit" class="writeForm" value="등록하기"/>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>