<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 공지사항</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_noticeCate"></th:block>
                <div>
                	<th:block th:if="${group == 'all'}">
                		<p>전체보기</p>
                    	<span>공지사항 전체 내용입니다.</span>
                	</th:block>
                	<th:block th:if="${group == 'service'}">
                		<p>고객서비스</p>
                    	<span>고객서비스 전체 내용입니다.</span>
                	</th:block>
                	<th:block th:if="${group == 'safe'}">
                		<p>안전거래</p>
                    	<span>안전거래 전체 내용입니다.</span>
                	</th:block>
                	<th:block th:if="${group == 'danger'}">
                		<p>위해상품</p>
                    	<span>위해상품 전체 내용입니다.</span>
                	</th:block>
                	<th:block th:if="${group == 'event'}">
                		<p>이벤트당첨</p>
                    	<span>이벤트당첨 전체 내용입니다.</span>
                	</th:block>
                    <table>
                        <tr th:each="article : ${articles}">
                            <td><a th:href="@{/cs/notice/view(group=${group})}">[[${article.title}]]</a></td>
                            <td>[[${article.rdate}]]</td>
                        </tr>
                    </table>
                    <div class="page">
                        <a href="#" class="prev"></a>
                        <a href="#" class="num current">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="num">6</a>
                        <a href="#" class="num">7</a>
                        <a href="#" class="num">8</a>
                        <a href="#" class="num">9</a>
                        <a href="#" class="num">10</a>
                        <a href="#" class="next"></a>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>