<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 문의하기</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_qnaCate"></th:block>
                <div>
                    <p>전체</p>
                    <span>문의사항 전체 내용입니다.</span>
                    <table>
                        <tr>
                            <td><a th:href="@{/cs/qna/view(group=${group})}">[가입] 가입 문의내용</a></td>
                            <td class="que wait">검토중</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que ok">답변완료</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que wait">검토중</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que ok">답변완료</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que wait">검토중</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que ok">답변완료</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que wait">검토중</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que ok">답변완료</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que wait">검토중</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                        <tr>
                            <td><a href="#">[가입] 가입 문의내용</a></td>
                            <td class="que ok">답변완료</td>
                            <td class="id">12345***</td>
                            <td>2023.02.08</td>
                        </tr>
                    </table>
                    <div class="page">
                        <a href="#" class="prev"></a>
                        <a href="#" class="num current">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="num">6</a>
                        <a href="#" class="num">7</a>
                        <a href="#" class="num">8</a>
                        <a href="#" class="num">9</a>
                        <a href="#" class="num">10</a>
                        <a href="#" class="next"></a>
                        <a th:href="@{/cs/qna/write(group=${group})}" class="write_button">문의하기</a>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>