<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 문의하기</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_qnaCate"></th:block>
                <div>
                    <div class="title">
                        <p>[가입] 가입 문의내용</p>
                        <span>12345*** 2023.02.08</span>
                    </div>
                    <div class="content">
                        <p>
                            문의사항 출력칸입니다.<br/>
                        </p>
                    </div>
                    <div class="content comment">
                        <span>☞[답변] 가입 문의내용</span>
                        <p>
                            답변 출력칸입니다.<br/>
                        </p>
                    </div>
                    <a th:href="@{/cs/qna/list(group=${group})}" class="goList">목록보기</a>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>