<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/mypage_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="mypage/_header.html  :: mypage_header"></th:block>
                    <img th:src="@{/img/myPage/my_banner1.jpg}" alt="배너">
                    <div>
                        <p>최근주문내역</p>
                        <a href="#"></a>
                        <table class="lastOrder">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr th:if="${#lists.size(order) == 0}">
                            	<td colspan="4" align="center">최근 구매한 내역이 없습니다.</td>
                            </tr>
                            <tr th:each = "ord : ${order}">
                                <td>[[${ord.rdate}]]</td>
                                <td>
                                    <img src="#" alt="상품이미지">
                                    <div>
                                        상호명 : [[${ord.company}]]<br/>
                                        상품명 : [[${ord.prodName}]]<br/>
                                        수량 : [[${ord.count}]]개 / 주문번호 :[[${ord.ordNo}]]<br/>
                                        [[${ord.price}]]원
                                    </div>
                                </td>
                                <td>배송완료</td>
                                <td>
                                    <ul>
                                        <li><a href="#">수취확인</a></li>
                                        <li><a href="#">상품평쓰기</a></li>
                                        <li><a href="#">반품신청</a></li>
                                        <li><a href="#">교환신청</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>포인트적립내역</p>
                        <a href="#"></a>
                        <table class="lastPoint">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>
                                <th>비고</th>
                                <th>유효기간</th>
                            </tr>
                            <tr th:if="${#lists.size(point) == 0}">
                            	<td colspan="6" align="center">최근 적립된 내역이 없습니다.</td>
                            </tr>
                            <tr th:each = "point : ${point}">
                                <td>[[${point.pointDate}]]</td>
                                <td>적립</td>
                                <td>[[${point.ordNo}]]</td>
                                <td>[[${point.point}]]</td>
                                <td>상품 구매확정</td>
                                <td>[[${point.pointDateEnd}]]</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>상품평</p>
                        <a href="#"></a>
                        <table class="lastComment">
                        	<colgroup> 
								<col width="10%">
								<col width="30%">
								<col width="40%">
								<col width="15%">
								<col width="10%">
							</colgroup> 
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr th:if="${#lists.size(review) == 0}">
                            	<td colspan="5" align="center">최근 남긴 상품평이 없습니다.</td>
                            </tr>
                            <tr th:each = "review : ${review}">
                                <td>1</td>
                                <td class="title">[[${review.prodName}]]</td>
                                <td class="title">[[${review.content}]]</td>
                                <td><span th:class="star+${review.rating}|"></span></td>
                                <td>[[${review.rdate}]]</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p>문의내역</p>
                        <a th:href="@{/mypage/qna}">
                        </a>
                        <table class="lastQna">
							<colgroup> 
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="50%">
								<col width="10%">
								<col width="10%">
							</colgroup>   
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr th:if="${#lists.size(qna) == 0}">
                            	<td colspan="6" align="center">최근 문의한 내역이 없습니다.</td>
                            </tr>
                            <tr th:each = "qna : ${qna}">
                                <td th:text="${qnaStat.size - qnaStat.index}"></td>
                                <td>고객센터</td>
                                <td>[[${qna.group}]]</td>
                                <td class="title"><a th:href="@{/cs/qna/view(group=${qna.group}, no=${qna.no}, pg=1)}">[[${qna.title}]]</a></td>
                                <td>[[${qna.rdate}]]</td>
                                <td th:if="${qna.comment == 0}" class="wait">검토중</td>
                                <td th:unless="${qna.comment == 0}" class="ok">답변완료</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span></span>
                        <div class="setting">
                            <div>
                                <span></span>
                                <a href="#"></a>
                                <p>
                                	[[${info.zip}]]<br/>
                                    [[${info.addr1}]]<br/>
                                    [[${info.addr2}]]
                                </p>
                            </div>
                            <div>
                                <span></span>
                                <a href="#"></a>
                                <p>
                                    [[${info.email}]]<br/>
                                    (최종수정일 [[${info.rdate}]])
                                </p>
                            </div>
                            <div>
                                <span></span>
                                <a href="#"></a>
                                <p>
                                    [[${info.hp}]]<br/>
                                    (최종수정일 [[${info.rdate}]])
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <th:block th:replace="mypage/_header.html  :: mypage_footer"></th:block>
    </div>
</body>
</html>