<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/mypage_style.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/postcode.js}"></script>
    <script>
    	$(function(){
    		$('#modifyEmail').on('click', function(){
    			$('input[name=mail1]').attr("readonly",false);
    			$('input[name=mail2]').attr("readonly",false);
    			$("#mail").prop('disabled',false);
    			$('input[name=mail1]').focus();
    		});
    		$('#modifyHp').click(function(){
    			$('input[name=phone1]').attr("readonly",false);
    			$('input[name=phone2]').attr("readonly",false);
    			$('input[name=phone3]').attr("readonly",false);
    			$('input[name=phone1]').focus();
    		});
    	});
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="mypage/_header.html  :: mypage_header"></th:block>
                    <img th:src="@{/img/myPage/my_banner2.png}" alt="배너">
                    <div>
                        <p>회원정보 설정</p>
                        <div class="settingInfo">
                            <form action="#">
                                <table>
                                    <tr>
                                        <td>사용자 ID</td>
                                        <td>[[${info.uid}]]</td>
                                    </tr>
                                    <tr>
                                        <td>비밀번호</td>
                                        <td><button style="width:90px;">비밀번호 수정</button></td>
                                    </tr>
                                    <tr>
                                        <td>이름</td>
                                        <td>[[${info.maskName}]]</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>
                                            <input type="text" name="mail1" th:value="${info.email1}" readonly> @ 
                                            <input type="text" name="mail2" th:value="${info.email2}" readonly>
                                            <select name="mail3" id="mail" disabled>
                                                <option value="1">직접입력</option>
                                                <option value="2">naver.com</option>
                                                <option value="3">daum.net</option>
                                                <option value="4">gmail.com</option>
                                                <option value="5">nate.com</option>
                                                <option value="6">outlook.com</option>
                                            </select>
                                            <button id="modifyEmail">수정하기</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>휴대폰</td>
                                        <td>
                                            <input type="text" name="phone1" th:value="${info.hp1}" readonly="readonly"> - 
                                            <input type="text" name="phone2" th:value="${info.hp2}" readonly="readonly"> - 
                                            <input type="text" name="phone3" th:value="${info.hp3}" readonly="readonly"> <button id="modifyHp">수정하기</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>주소</td>
                                        <td>
                                            <input type="text" name="zip" id="zip" th:value="${info.zip}" readonly="readonly"> <button onclick="postcode()">주소검색</button><br/>
                                            <input type="text" name="addr1" id="addr1" th:value="${info.addr1}" readonly="readonly"><br/>
                                            <input type="text" name="addr2" id="addr2" th:value="${info.addr2}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>회원탈퇴</td>
                                        <td>
                                            <button class="delete">탈퇴하기</button>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    <input type="submit" value="수정하기">
                                </div>
                            </form>
                        </div>
                    </div>
            </section>
        </main>
        <th:block th:replace="mypage/_header.html  :: mypage_footer"></th:block>
    </div>
</body>
</html>