<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/mypage_style.css}">
    <script th:src="@{/js/date.js}"></script>
    <script>
    	$(function(){
    		let now = new Date();
    		$('.month1').text(now.getMonth()+1);
    		now.setMonth(now.getMonth() -1);
    		$('.month2').text(now.getMonth()+1);
    		now.setMonth(now.getMonth() -1);
    		$('.month3').text(now.getMonth()+1);
    		now.setMonth(now.getMonth() -1);
    		$('.month4').text(now.getMonth()+1);
    		now.setMonth(now.getMonth() -1);
    		$('.month5').text(now.getMonth()+1);
    		
    		$('.off').on('click', function(){
    			$('.on').attr('class','off');
    			$(this).attr('class','on');
    		});
    		
    		//오늘
    		let today = new Date();
    		let lastDay = dateFormat(today);
    		
    		//시작시 호출
    		today = new Date();
    		let firstDay = new Date(today.setDate(today.getDate()-15));
    		firstDay = dateFormat(firstDay);
    		list(firstDay, lastDay);
    		
    		//7일전
    		$('#1week').click(function(){
	    		today = new Date();
	    		let firstDay = new Date(today.setDate(today.getDate()-7));
	    		firstDay = dateFormat(firstDay);
	    		list(firstDay, lastDay);
    		});
    		//15일전
    		$('#15day').click(function(){
    			today = new Date();
	    		let firstDay = new Date(today.setDate(today.getDate()-15));
	    		firstDay = dateFormat(firstDay);
	    		list(firstDay, lastDay);
    		});
    		//30일전
    		$('#1month').click(function(){
    			today = new Date();
    			let firstDay = new Date(today.setDate(today.getDate()-30));
    			firstDay = dateFormat(firstDay);
    			list(firstDay, lastDay);
    		});
    		//당월
    		$('#month1').click(function(){
    			today = new Date();	
				let firstDay = new Date(today.getFullYear(), today.getMonth(), 1);
				let lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0);
				firstDay = dateFormat(firstDay);
				lastDay = dateFormat(lastDay);
				list(firstDay, lastDay);
    		});
    		//1달전
    		$('#month2').click(function(){
    			today = new Date();	
				let firstDay = new Date(today.getFullYear(), today.getMonth()-1, 1);
				let lastDay = new Date(today.getFullYear(), today.getMonth(), 0);
				firstDay = dateFormat(firstDay);
				lastDay = dateFormat(lastDay);
				list(firstDay, lastDay);
    		});
    		//2달전
    		$('#month3').click(function(){
    			today = new Date();	
				let firstDay = new Date(today.getFullYear(), today.getMonth()-2, 1);
				let lastDay = new Date(today.getFullYear(), today.getMonth()-1, 0);
				firstDay = dateFormat(firstDay);
				lastDay = dateFormat(lastDay);
				list(firstDay, lastDay);
    		});
    		//3달전
    		$('#month4').click(function(){
    			today = new Date();	
				let firstDay = new Date(today.getFullYear(), today.getMonth()-3, 1);
				let lastDay = new Date(today.getFullYear(), today.getMonth()-2, 0);
				firstDay = dateFormat(firstDay);
				lastDay = dateFormat(lastDay);
				list(firstDay, lastDay);
    		});
    		//4달전
    		$('#month5').click(function(){
    			today = new Date();	
				let firstDay = new Date(today.getFullYear(), today.getMonth()-4, 1);
				let lastDay = new Date(today.getFullYear(), today.getMonth()-3, 0);
				firstDay = dateFormat(firstDay);
				lastDay = dateFormat(lastDay);
				list(firstDay, lastDay);
    		});
    		//사용자 지정
    		$('.search').click(function(){
    			let start = $('input[name=start]').val();
    			let end = $('input[name=end]').val();
    			if(start == "" || end == ""){
    				alert('날짜를 선택해주세요.');
    				return false;
    			}
    			
    			today = new Date();	
    			let firstDay = new Date(today.setFullYear(today.getFullYear() - 1));
    			firstDay = dateFormat(firstDay);
    			if(start < firstDay){
    				alert('전체주문내역의 최대 1년치까지만 조회가능합니다.');
    				start = firstDay;
    			}
    			list(start, end);
    			$('.on').attr('class','off');
    		});
    		
    		function list(start, end){
    			let jsonData = {
    					'start' : start,
    					'end' : end
    			}
    			console.log(jsonData);
    			$.ajax({
    				url : '/Kmarket/mypage/orderList/',
    				method : 'POST',
    				data : jsonData,
    				dataType : 'JSON',
    				success : function(data){
    					$('.order').remove();
    					if(data.result.length == 0){
    						let tag = "<tr class='order'>";
                           		tag += "<td colspan='6' align='center'>구매내역이 없습니다.</td>";
                           		tag += '</tr>';
                          		$('.lastOrder').append(tag);
    					}else{
	    					for(let i of data.result){
		   						let	tag = "<tr class='order'>";
		   							tag += "<td>"+i.rdate+"</td>";
		   							tag += "<td>";
		   							tag += "<img src=/Kmarket/image/"+i.thumb1+" alt='상품이미지'>";
		   							tag += "<div>";
		   							tag += "상호명 : "+i.company+"<br/>";
		   							tag += "상품명 : "+i.prodName+"<br/>";
		   							tag += "수량 : "+i.count+"개 / 주문번호 :"+i.ordNO+"<br/>";
		   							tag += i.price.toLocaleString('ko-KR') +"원";
		   							tag += "</div>";
		   							tag += "</td>";
		   							if(i.ordComplete == "0"){
		   								tag += "<td>결제대기</td>";
		   							}else if(i.ordComplete == "1"){
		   								tag += "<td>결제완료</td>";
		   							}else if(i.ordComplete == "2"){
		   								tag += "<td>주문완료</td>";
		   							}else if(i.ordComplete == "3"){
		   								tag += "<td>배송준비</td>";
		   							}else if(i.ordComplete == "4"){
		   								tag += "<td>배송완료</td>";
		   							}else {
		   								tag += "<td>수취확인</td>";
		   							}
		   							tag += "<td><ul>";
		   							tag += "<li><a href='#'>수취확인</a></li>";
		   							tag += "<li><a href='#'>상품평쓰기</a></li>";
		   							tag += "<li><a href='#'>반품신청</a></li>";
		   							tag += "<li><a href='#'>교환신청</a></li>";
		   							tag += "</ul></td></tr>";
	   							$('.lastOrder').append(tag);
    					}
   					}
    				}
    			});
    		}
    	});
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="mypage/_header.html  :: mypage_header"></th:block>
                    <img th:src="@{/img/myPage/my_banner2.png}" alt="배너">
                    <div>
                        <p>전체주문내역</p>
                        <div class="day">
                            <span></span>
                            <ul>
                                <li><a href="#" class="off" id="1week"><span>1</span>주일</a></li>
                                <li><a href="#" class="on off" id="15day"><span>15</span>일</a></li>
                                <li><a href="#" class="off" id="1month"><span>1</span>개월</a></li>
                            </ul>
                            <ul>
                                <li><a href="#" class="off" id="month1"><span class="month1"></span>월</a></li>
                                <li><a href="#" class="off" id="month2"><span class="month2"></span>월</a></li>
                                <li><a href="#" class="off" id="month3"><span class="month3"></span>월</a></li>
                                <li><a href="#" class="off" id="month4"><span class="month4"></span>월</a></li>
                                <li><a href="#" class="off" id="month5"><span class="month5"></span>월</a></li>
                            </ul>
                            <p>
                                <input type="date" name="start">~<input type="date" name="end">
                            </p>
                            <button class="search">조회하기</button>
                        </div>
                        <table class="lastOrder">
                        	<tr class="tit">
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <!--/*
                            <tr th:if="${#lists.size(vo) == 0}">
                            	<td colspan="4" align="center">최근 구매한 내역이 없습니다.</td>
                            </tr>
                            <tr th:each = "ord : ${vo}">
                                <td>[[${ord.rdate}]]</td>
                                <td>
                                    <img th:src="@{/image/}+${ord.thumb1}" alt="상품이미지">
                                    <div>
                                        상호명 : [[${ord.company}]]<br/>
                                        상품명 : [[${ord.prodName}]]<br/>
                                        수량 : [[${ord.count}]]개 / 주문번호 :[[${ord.ordNO}]]<br/>
                                        [[${ord.price}]]원
                                    </div>
                                </td>
                                <td>배송완료</td>
                                <td>
                                    <ul>
                                        <li><a href="#">수취확인</a></li>
                                        <li><a href="#">상품평쓰기</a></li>
                                        <li><a href="#">반품신청</a></li>
                                        <li><a href="#">교환신청</a></li>
                                    </ul>
                                </td>
                            </tr>
                            */-->
                        </table>
                        <div class="page">
                            <a href="#" class="prev"></a>
                            <a href="#" class="num current">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next"></a>
                        </div>
                    </div>
            </section>
        </main>
        <th:block th:replace="mypage/_header.html  :: mypage_footer"></th:block>
    </div>
</body>
</html>