<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/mypage_style.css}">
    <script type="text/javascript" th:src="@{/js/ordered.js}"></script>
    <script th:inline="javascript">
    	$(function(){
    		
    	});
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="mypage/_header.html  :: mypage_header"></th:block>
                    <img th:src="@{/img/myPage/my_banner2.png}" alt="배너">
                    <div>
                        <p>전체주문내역</p>
                        <div class="day">
                            <span></span>
                            <ul>
                                <li><a href="#" class="off" id="1week"><span>1</span>주일</a></li>
                                <li><a href="#" class="on off" id="15day"><span>15</span>일</a></li>
                                <li><a href="#" class="off" id="1month"><span>1</span>개월</a></li>
                            </ul>
                            <ul>
                                <li><a href="#" class="off" id="month1"><span class="month1"></span>월</a></li>
                                <li><a href="#" class="off" id="month2"><span class="month2"></span>월</a></li>
                                <li><a href="#" class="off" id="month3"><span class="month3"></span>월</a></li>
                                <li><a href="#" class="off" id="month4"><span class="month4"></span>월</a></li>
                                <li><a href="#" class="off" id="month5"><span class="month5"></span>월</a></li>
                            </ul>
                            <p>
                                <input type="date" name="start">~<input type="date" name="end">
                            </p>
                            <button class="search">조회하기</button>
                        </div>
                        <table class="lastOrder">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <!--/*
                            <tr th:if="${#lists.size(vo) == 0}">
                            	<td colspan="4" align="center">최근 구매한 내역이 없습니다.</td>
                            </tr>
                            <tr th:each = "ord : ${vo}">
                                <td>[[${ord.rdate}]]</td>
                                <td>
                                    <img th:src="@{/image/}+${ord.thumb1}" alt="상품이미지">
                                    <div>
                                        상호명 : [[${ord.company}]]<br/>
                                        상품명 : [[${ord.prodName}]]<br/>
                                        수량 : [[${ord.count}]]개 / 주문번호 :[[${ord.ordNO}]]<br/>
                                        [[${ord.price}]]원
                                    </div>
                                </td>
                                <td>배송완료</td>
                                <td>
                                    <ul>
                                        <li><a href="#">수취확인</a></li>
                                        <li><a href="#">상품평쓰기</a></li>
                                        <li><a href="#">반품신청</a></li>
                                        <li><a href="#">교환신청</a></li>
                                    </ul>
                                </td>
                            </tr>
                            */-->
                        </table>
                        <div class="page">
                            <a href="#" class="prev"></a>
                            <a href="#" class="num current">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next"></a>
                        </div>
                    </div>
            </section>
        </main>
        <th:block th:replace="mypage/_header.html  :: mypage_footer"></th:block>
    </div>
</body>
</html>